
 .card{
    height: 13rem;
    background-position: center;
    background-size: cover;
   }
   .card-1{
   background-image: url("../media/images/ordinateur.jpg");
   /* border-radius: 0.375rem; */
  }
  .card-2{
    background-image: url("../media/images/telephone.jpg");
   }
   .card-3{
    background-image: url("../media/images/son-accessoires.jpg");
   }
   .card-4{
    background-image: url("../media/images/jeu-vidéo.jpg");
   }
   .card-5{
    background-image: url("../media/images/appareil-photo.jpg");
   }
  .card-body-overlay{
    background-color: rgba(12,11,10,.5);
    height: inherit;
    border-radius: 5px
  }
  
  
  
  @media screen and (min-width: 992px) {
    .row-card{
      position: relative;
    }
   
    .last-card{
      position: absolute;
      top: 27%;
      left: 33.3%;
    }
    
  
  /* 
  
  
  
    .row-card{
      position: relative;
    }
    .card-1{
      height: 15rem;
     }
     .card-2{
      height: 30rem;
     }
    .card-3{
      height: 42.8rem;
      position: absolute;
      top: 27%;
      width: 48%;
     }
     .card-4{
      height: 13rem;
      position: relative;
      top: -9%;
     }
     .card-5{
      height: 13rem;
      position: relative;
      top: -7%;
      left: 104%;
  
     } */
  }
  
  