@import url('index.css');

/** DesktopsLayout */
@media screen and (width >= 925px) {
  html, body {
    margin: 0%; padding: 0%;
    width: 100%; height: 100%;
  }

  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
    color: black;
  }

  header, footer{
    z-index: 10;
  }

  body{
    z-index: 0;
    color: black;
  }

  header{
    top: 0%;
    position: fixed;
  }

  main{
    margin-top: 2.5%;
    padding-top: 125px; padding-bottom: 20%;
    background-color: #f9f7f1;
  }

  footer{
    bottom: 0%;
  }

  
  .AppLogo{
    margin-top: -7px;
    margin-left: 20px;
    padding: 4px;
    width: 100px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #f6dbbc, 10px 10px 5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

  .AppLogo:hover{
    margin-top: -7px;
    margin-left: 20px;
    padding: 3px;
    width: 100px;
    /* border-radius: 15px; */
    box-shadow: 5px 5px 2.5px #f6dbbc, 5px 5px 2.5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

}


/** TabletLayout */
@media (min-width: 600px) and (max-width: 924px) {
  html, body{
    margin: 0%; padding: 0%;
    width: 100%; height: 100%;
  }
  
  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
  }

  header, footer{
    z-index: 10;
  }

  body{
    z-index: 0;
    color: black;
  }

  header{
    top: 0%;
    position: fixed;
  }

  main{
    padding: 2%;
    padding-top: 150px; padding-bottom: 25%;
    background-color: #f9f7f1;
  }

  footer{
    bottom: 0%;
  }

  .AppLogo{
    margin-top: -4px;
    margin-left: 15px;
    padding: 3px;
    width: 90px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #f6dbbc, 10px 10px 5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

  .AppLogo:hover{
    margin-top: -4px;
    margin-left: 15px;
    padding: 4px;
    width: 90px;
    border-radius: 15px;
    box-shadow: 5px 5px 2.5px #f6dbbc, 5px 5px 2.5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

}


/** MobilesLayout */
@media screen and (width <= 600px) {
  html, body{
      margin: 0%; padding: 0%;
      height: 100%;
  }
  
  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
  }

  header, footer{
    z-index: 10;
  }

  body{
    z-index: 0;
    color: black;
  }

  header{
    top: 0%;
    position: fixed;
  }

  main{
    padding: 2%;
    padding-top: 150px; padding-bottom: 30%;
    background-color: #f9f7f1;
  }

  footer{
    bottom: 0%;
  }

  .AppLogo{
    margin-top: -5px;
    margin-left: 15px;
    padding: 3px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #f6dbbc, 10px 10px 5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

  .AppLogo:hover{
    margin-top: -5px;
    margin-left: 15px;
    padding: 4px;
    width: 80px;
    border-radius: 15px;
    box-shadow: 5px 5px 2.5px #f6dbbc, 5px 5px 2.5px #b78763;
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out 0s;
    -moz-transition: box-shadow 0.3s ease-in-out 0s;
    -o-transition: box-shadow 0.3s ease-in-out 0s;
    -ms-transition: box-shadow 0.3s ease-in-out 0s;
  }

}