@import url('index.css');

/** DesktopsLayout */
@media screen and (width >= 925px) {
  html, body {
    margin: 0%; padding: 0%;
    width: 100%; height: 100%;
  }

  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
    color: black;
  }

  header, footer{
    z-index: 10;
    position: fixed;
  }

  body{
    z-index: 0;
    color: black;
  }

  header{
    top: 0%;
  }

  main{
    padding: 2%;
    padding-top: 12%; padding-bottom: 20%;
    background-color: #f9f7f1;
  }

  footer{
    bottom: 0%;
  }

}


/** TabletLayout */
@media (min-width: 600px) and (max-width: 924px) {
  html, body{
    margin: 0%; padding: 0%;
    width: 100%; height: 100%;
  }
  
  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
  }

  header, footer{
    
  }

  body{
    
  }

  header{

  }

  main{

  }

  footer{

  }

}


/** MobilesLayout */
@media screen and (width <= 600px) {
  html, body{
      margin: 0%; padding: 0%;
      height: 100%;
  }
  
  header, main, footer{
    margin: 0%; padding: 2%;
    width: 100%;
  }

  header, footer{
    
  }

  body{
    
  }

  header{

  }

  main{

  }

  footer{

  }

}